{% extends "base.html" %}

{% block content %}
<script>

counter = 3

function replacement() {
  window.location.replace("{{ url_for('test') }}" + "?test=1&var=56")
}

function add_box() {
  var input = document.createElement('input')
  input.type = 'text'
  input.name = counter

  document.getElementById('inputlist').appendChild(input)

  counter += 1
}

</script>

<button onclick="replacement()">Press me fucker, go on do it</button>

<form action="{{ url_for('test')}}" method="POST">
  <div id="inputlist">
    <input type="text" name="1"></input>
    <input type="text" name="2"></input>
  </div>
  <input type="submit" name="submit"></input>
</form>

<button onclick="add_box()">Add box fat bastard</button>

{% endblock %}
